@tailwind base;
@tailwind components;
@tailwind utilities;

.ProseMirror {
  padding: 1rem;
  outline: none;
  padding-top: 2.5rem;

  > * + * {
    margin-top: 0.75em;
  }

  pre {
    @apply border border-gray-200 bg-gray-50 dark:border-gray-700 dark:bg-gray-900;

    code {
      @apply text-gray-800 dark:text-gray-200 p-0;
      border: initial;
    }

    .hljs-comment,
    .hljs-quote {
      color: #616161;
    }

    .hljs-variable,
    .hljs-template-variable,
    .hljs-attribute,
    .hljs-tag,
    .hljs-name,
    .hljs-regexp,
    .hljs-link,
    .hljs-name,
    .hljs-selector-id,
    .hljs-selector-class {
      color: #f98181;
    }

    .hljs-number,
    .hljs-meta,
    .hljs-built_in,
    .hljs-builtin-name,
    .hljs-literal,
    .hljs-type,
    .hljs-params {
      color: #fbbc88;
    }

    .hljs-string,
    .hljs-symbol,
    .hljs-bullet {
      color: #b9f18d;
    }

    .hljs-title,
    .hljs-section {
      color: #faf594;
    }

    .hljs-keyword,
    .hljs-selector-tag {
      color: #70cff8;
    }

    .hljs-emphasis {
      @apply italic;
    }

    .hljs-strong {
      @apply font-bold;
    }
  }
}
